/*
  Write your own styles here.

  We've included some classes to get you going
*/

a, a:visited {
  color: red;
  text-decoration-line: none;
}

a:hover, a:active {
  text-decoration-line: underline;
}

.sv-theme {
  background-color: powderblue;
}

.sv-document-nav-title,
.sv-document-nav-items {
  background: powderblue;
}

.sv-document-article {
  background: transparent;
}

/*
  Mobile First!

  Include your desktop styles here
*/
@media screen and (min-width: 768px){
  body {
    background: powderblue;
  }

  .sv-document-nav-title,
  .sv-document-nav-items {
    background: transparent;
  }
}
